---
title: Home
---
{{#extend "layout-default"}}
  {{#content "main"}}
    <div class="page">
      <h1 class="page-title">Hello world</h1>
      <p class="lead">This is Home.</p>
    </div>
  {{/content}}
{{/extend}}