<div class="masthead">
  <div class="container">
    <h3 class="masthead-title">
      <a href="{{ rootPath }}" title="Home">{{ data.site.title }}</a>
      <small>{{ data.site.tagline }}</small>
    </h3>
  </div>
</div>
