<div class="masthead">
  <div class="container">
    <h3 class="masthead-title">
      <a href="{{root}}" title="Home">{{ site.title }}</a>
      <small>{{ site.tagline }}</small>
    </h3>
  </div>
</div>
